@model ApplicationCore.Models.TasksResponseModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Detail</title>

    <script src="https://kit.fontawesome.com/2cb297ca9f.js" crossorigin="anonymous"></script>


</head>

<div class="container">
    <h1>Task In Process</h1>
    <table class="table table-hover">
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>DueDate</td>
            <td>Priority</td>
            <td>Remarks</td>
        </tr>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.DueDate</td>
            <td>@Model.Priority</td>
            <td>@Model.Remarks</td>
        </tr>
    </table>
</div>

    @if (User.Identity.IsAuthenticated)
    {
        <a type="button" class="btn btn-primary btn-lg btn-block"
           asp-action="Finish" asp-controller="User" asp-route-id="@Model.Id">
            <span>Done</span>
        </a>
    }
    else
    {
        <a type="button" class="btn btn-primary btn-lg btn-block"
           asp-action="Finish" asp-controller="User" asp-route-mid="@Model.Id">Done</a>
    }

