@model ApplicationCore.Models.TasksHistoryCardResponseModel

<div class="card mb-2 shadow bg-light">

    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.TaskId">
        <p>UserId       : @Model.UserId</p>
        <p>Title        : @Model.Title</p>
        <p>Description  : @Model.Description</p>
        <p>DueDate      : @Model.DueDate</p>
        <p>Completed    : @Model.Completed</p>
        <p>Remarks      : @Model.Remarks</p>
    </a>
</div>
